instance_name = ${HOSTNAME}

[security]
admin_user = {{ grafanauser }}
admin_password = {{ grafanapassword }}

[auth.google]
client_secret = {{ grafanasecret }}

[plugin.grafana-image-renderer]
rendering_ignore_https_errors = true