server {
    listen 443 ssl;
    server_name {{ hostname }};
    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};

    location ~ ^/(api|admin) {
        proxy_pass       {{ proxy_pass }};
        proxy_set_header Host      $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location /static {
        alias {{ app_dir }}/static/;
    }
    
    if ( $http_user_agent ~* (nmap|nikto|wikto|sf|sqlmap|bsqlbf|w3af|acunetix|havij|appscan) ) {
        return 403;
    }

    if ($args ~* "(eval|duplicate|base64|substring|preg_replace|create_function|exec)") {
        return 403;
    }
}

server {
    listen 80;
    return 301 https://$host$request_uri;
}