[uwsgi]
uid = {{ user_name }}
gid = {{ user_name }}
http = {{ listen }}
pythonpath = {{ app_dir }}
virtualenv = {{ venv }}
wsgi-file = {{ app_dir }}/test/wsgi.py
processes = 1
master = true
lazy-apps = true
harakiri = 35
buffer-size=32768
max-requests = 1000
enable-threads = true
vacuum=True
master-as-root = false
memory-report = true
pidfile = {{ home_dir }}/.run/uwsgi.pid
touch-reload = {{ homedir }}/.run/uwsgi_reload.pid
stats = {{ home_dir }}/.run/uwsgi_stats.sock
log-x-forwarded-for = true
logfile-chmod=644
log-format = {"ltime":"%(ltime)","url":"%(uri)","ip":"%(addr)","status": %(status),"response_time":%(msecs),"time":%(epoch),"useragent":"%(uagent)","referer":"%(referer)","mem":%(rss),"method":"%(method)"}  
log-maxsize = 20971520
logto = {{ logs_dir }}/blog_access.log