DEBUG = False

ALLOWED_HOSTS = {{ allowed_hosts }}

STATIC_ROOT = "{{ appfolder }}/static/"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_host }}',
        'PORT': '{{ db_port }}'
    }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'json': {
            '()': 'json_log_formatter.VerboseJSONFormatter',
        },
    },
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '{{ logs_dir }}/django.log',
            'formatter': 'json'
        },
    },
    'root': {
        'handlers': ['file'],
        'level': 'INFO',
    },
}